*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
h1 span{
    color: #00a1a7;
}
p{
    text-align: center;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     
}
.Booking-form{
 
    margin-bottom: 30px;
    background-color:rgba(169, 181, 194, 0.2);
    box-shadow: 0 0 12px rgba(158, 151, 151, 0.1);
    padding: 20px;
    border-radius: 15px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px  solid white;
    width: 750px;
    height: 500px;
    padding: 40px;
    border-radius: 20px;
    background-color: rgb(115, 164, 212,0.2);
}
.form-row{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

input,select,textarea{
    padding: 8px;
    width:300px;
    border: none;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}
textarea{
    width: 650px;
    height: 100px;
}
.submit-btn{
    background-color: #00a1a7;
    color: white;
    width: 200px;
    padding: 15px;
    border-radius: 35px;
    border: none;
     cursor: pointer;
}
