*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 40px;
    
}
table,tr{
  border: 1px solid rgb(216, 195, 195);
  width: 80%;
  background-color:rgb(224, 230, 228);
  text-align: center;
  border-collapse: collapse;
  height: 40px;
  margin: auto;
  
  
}
tr:hover{
    background-color: #b9ddd6;
}
th{

  color: white;
    background-color: #009879;
}